<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watching: {{ title }}</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/anime.css">
    <link rel="stylesheet" href="/static/watch.css">
    <link rel="stylesheet" href="/static/tailwind.css">

    <link rel="shortcut icon" href="/static/assets/logo.png" type="image/x-icon">
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/45cb819601.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo navLogo"><a href="/"><img src="/static/assets/logo-light.png" alt="AniMaze"
                            id="logo"></a></span>

                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a href="/"><img src="/static/assets/logo-light.png" alt="AniMaze"
                                    id="logo"></a></span>
                        <i class='bx bx-x siderbarClose'></i>
                    </div>

                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/#trending">Trending</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>

                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <i class='bx bx-moon moon'></i>
                        <i class='bx bx-sun sun'></i>
                    </div>

                    <form method="get" action="/search" class="searchBox">
                        <div class="searchToggle">
                            <i class='bx bx-x cancel'></i>
                            <i class='bx bx-search search'></i>
                        </div>

                        <div class="search-field">
                            <input type="text" name="query" placeholder="Search...">
                            <!-- You can keep the search icon or replace it with the button -->
                            <button type="submit"><i class='bx bx-search'></i></button>
                            <!-- <i class='bx bx-search'></i> -->
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="banner">
        </div>

    </header>


    <div class="container">
        <div class="more">
            <h2>More Like this:</h2>
            <div class="cards">

                {% for anime in more %}
                <div class="card">
                    <div class="img">
                        <img loading="lazy" src="{{ anime.poster }}" alt="{{ anime.title }}">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="name">{{ anime.title }}</div>
                    <div class="info-box" style="z-index: 1;">
                        <div class="info-title">{{ anime.title }}</div>

                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <div class="text-rating">{{ anime.rating }}</div>
                            <div class="line-rating">
                                <div class="line-red" style="width: {{ anime.rating }}%;"></div>
                            </div>
                        </div>

                        <ul class="info-genres">
                            {% for genre in anime['genres'][:2] %}
                            <li>{{ genre }}</li>
                            {% endfor %}
                        </ul>

                        <div class="info-btns">
                            <a href='/watch/{{ anime.title.replace(" ", "-") }}-{{ anime.id }}$1'
                                class="info-watch">Watch</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

        <div class="player">
            <h2>Currently Watching: {{ anime.english }}</h2>
            <video controls crossorigin playsinline poster="{{ anime.banner }}">
                <source src="" type="application/x-mpegURL" size="720" lang="en">

                {% for sub in eps[0]['subtitles'] %}
                <track kind="subtitles" label="{{ sub['lang'] }}" srclang="en" src="{{ sub['url'] }}" default>
                {% endfor %}
            </video>
            <div class="imp-btns">
                <div class="dropdown">
                    <button onclick="toggleDropdown()" class="button">Source &nbsp; <i class="fa fa-caret-down"
                            aria-hidden="true"></i></button>
                    <div class="dropdown-content" id="dropdownContent">
                        <button onclick="changeSource('sub')"><i class="fas fa-closed-captioning"></i> SUB</button>
                        <hr>
                        <button onclick="changeSource('dub')"><i class="fas fa-microphone"></i> DUB</button>
                    </div>
                </div>

                <button onclick="nextEpisode()" class="button">Next Episode</button>
            </div>
            <div class="video-info">
                <div class="video-title">{{ eps[0]['number'] }}. {{ eps[0]['title'] }}</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <div class="text-rating">{{ anime.rating }}</div>
                    <div class="line-rating">
                        <div class="line-red" style="width: {{ anime.rating }}%;"></div>
                    </div>
                </div>
                <div class="sypnosis">
                    <b>Synopsis:</b><br>
                    {{ anime.synopsis | safe }}
                </div>
            </div>
        </div>

        <div class="episodes">
            <h2>All Episodes:</h2>
            <div class="list">
                {% for ep in eps[1] %}
                <div class="episode">
                    {% if ep == eps[0]['number'] %}
                    <div class="name" style="color: #e0115f;">
                        <a
                            href='/watch/{{ "" if anime.romaji is none else anime.romaji.replace(":", "").replace(" ", "-") }}-{{ anime.id }}${{ ep.number }}'>
                            <b style="margin-right: 10px;">{{ ep.number }}</b> {{ ep.title }} <i
                                class="fas fa-play"></i>
                        </a>
                    </div>
                    {% else %}
                    <div class="name">
                        <a
                            href='/watch/{{ "" if anime.romaji is none else anime.romaji.replace(":", "").replace(" ", "-") }}-{{ anime.id }}${{ ep.number }}'>
                            <b style="margin-right: 10px;">{{ ep.number }}</b> {{ ep.title }}
                        </a>
                    </div>
                    {% endif %}
                </div>
                <hr>
                {% endfor %}

            </div>
        </div>
    </div>






    <footer>
        <div class="bg-opacity-75 footer">
            <div class="container px-8 py-1 mx-auto flex items-center sm:flex-row flex-col"><a
                    class="flex title-font font-medium items-center md:justify-start justify-center text-white"><img
                        src="/static/assets/logo.png" class="text-white" style="width: 80px;">
                    </img><span class="ml-3 text-xl">AniMaze</span></a>
                <p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">© 2023 AniMaze —<a
                        href="https://twitter.com/AniMaze" class="text-gray-400 ml-1" target="_blank"
                        rel="noopener noreferrer">@AniMaze</a></p><span
                    class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"><a
                        class="text-gray-400"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg></a><a class="ml-3 text-gray-400"><svg fill="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg></a><a class="ml-3 text-gray-400"><svg fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                            viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg></a><a class="ml-3 text-gray-400"><svg fill="currentColor" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5"
                            viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg></a></span>
            </div>
        </div>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/video-dev/hls.js/18bb552/dist/hls.min.js"></script>
    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
    <script src="/static/script.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const storedValue = localStorage.getItem('source');
            let sourceType = storedValue ? JSON.parse(storedValue) : "sub";
            let source;
            if (sourceType === 'dub') {
                console.log("PLAYING dub")
                source = "https://cors-mikey.up.railway.app/{{ eps[0]['dub']}}";
            }
            else {
                console.log("PLaying defualt as sub")
                source = "https://cors-mikey.up.railway.app/{{ eps[0]['sub']}}";
            }

            const video = document.querySelector('video');
            const player = new Plyr(video, { captions: { active: true, update: true, language: 'en' } });

            if (!Hls.isSupported()) {
                video.src = source;
            } else {
                const hls = new Hls();
                hls.loadSource(source);
                hls.attachMedia(video);
                window.hls = hls;

                player.on('languagechange', () => {
                    setTimeout(() => hls.subtitleTrack = player.currentTrack, 50);
                });
            }

            window.player = player;

            video.addEventListener('touchstart', () => {
                if (video.paused) {
                    video.play();
                } else {
                    video.pause();
                }
            });

            // Add click events to seek forward or backward
            video.addEventListener('click', (e) => {
                const clickX = e.pageX - video.getBoundingClientRect().left;
                const videoWidth = video.clientWidth;

                if (clickX >= videoWidth / 2) {
                    // Click on the right side, seek forward
                    video.currentTime += 10;
                } else {
                    // Click on the left side, seek backward
                    video.currentTime -= 10;
                }
            });
        });
    </script>
    <script>
        function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
        }


        function changeSource(type) {
            localStorage.setItem("source", JSON.stringify(type));
            let storedValue = localStorage.getItem('source');
            let sourceType = storedValue ? JSON.parse(storedValue) : "sub";
            let source;
            if (sourceType === 'dub') {
                console.log("PLAYING dub")
                source = "https://cors-mikey.up.railway.app/{{ eps[0]['dub']}}";
            }
            else {
                console.log("PLaying defualt as sub")
                source = "https://cors-mikey.up.railway.app/{{ eps[0]['sub']}}";
            }

            const video = document.querySelector('video');
            const player = new Plyr(video, { captions: { active: true, update: true, language: 'en' } });

            if (!Hls.isSupported()) {
                video.src = source;
            } else {
                const hls = new Hls();
                hls.loadSource(source);
                hls.attachMedia(video);
                window.hls = hls;

                player.on('languagechange', () => {
                    setTimeout(() => hls.subtitleTrack = player.currentTrack, 50);
                });
            }

            window.player = player;

            player.play()
        }

        function nextEpisode() {
            var m = window.location.href.match(/(\d+)$/);
            if (m) {
                var n = +m[1] + 1;
                window.location.href = window.location.href.replace(m[1], n);
            }
        }

    </script>

</body>

</html>
