<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watching: {{ anime.title }}</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/anime.css">
    <link rel="stylesheet" href="/static/watch.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/45cb819601.js" crossorigin="anonymous"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />

    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo navLogo"><a href="/"><img src="/static/assets/logo-light.png" alt="AniMaze"
                            id="logo"></a></span>

                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a href="/"><img src="/static/assets/logo-light.png" alt="AniMaze"
                                    id="logo"></a></span>
                        <i class='bx bx-x siderbarClose'></i>
                    </div>

                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/#trending">Trending</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>

                <div class="darkLight-searchBox">
                    <div class="dark-light">
                        <i class='bx bx-moon moon'></i>
                        <i class='bx bx-sun sun'></i>
                    </div>

                    <div class="searchBox">
                        <div class="searchToggle">
                            <i class='bx bx-x cancel'></i>
                            <i class='bx bx-search search'></i>
                        </div>

                        <div class="search-field">
                            <input type="text" placeholder="Search...">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="banner" style="background: url('{{ anime.banner }}');">
        </div>

    </header>


    <div class="container">
        <div class="more">
            <h2>More Like this</h2>
            <div class="cards">
                <div class="card">
                    <div class="img">
                        <img loading="lazy"
                            src="https://img.flawlessfiles.com/_r/300x400/100/5e/76/5e766fbd23e796462040a67203345a7b/5e766fbd23e796462040a67203345a7b.jpg"
                            alt="Sousou no Frieren">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="name">Sousou no Frieren</div>
                    <div class="info-box" style="z-index: 1;">
                        <div class="info-title">Sousou no Frieren</div>

                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <div class="text-rating">89</div>
                            <div class="line-rating">
                                <div class="line-red" style="width: 89%;"></div>
                            </div>
                        </div>

                        <ul class="info-genres">

                            <li>Adventure</li>

                            <li>Drama</li>

                        </ul>

                        <div class="info-btns">
                            <a href='/watch/Sousou-no-Frieren-154587$1' class="info-watch">Watch</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img loading="lazy"
                            src="https://img.flawlessfiles.com/_r/300x400/100/5e/76/5e766fbd23e796462040a67203345a7b/5e766fbd23e796462040a67203345a7b.jpg"
                            alt="Sousou no Frieren">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="name">Sousou no Frieren</div>
                    <div class="info-box" style="z-index: 1;">
                        <div class="info-title">Sousou no Frieren</div>

                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <div class="text-rating">89</div>
                            <div class="line-rating">
                                <div class="line-red" style="width: 89%;"></div>
                            </div>
                        </div>

                        <ul class="info-genres">

                            <li>Adventure</li>

                            <li>Drama</li>

                        </ul>

                        <div class="info-btns">
                            <a href='/watch/Sousou-no-Frieren-154587$1' class="info-watch">Watch</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img loading="lazy"
                            src="https://img.flawlessfiles.com/_r/300x400/100/5e/76/5e766fbd23e796462040a67203345a7b/5e766fbd23e796462040a67203345a7b.jpg"
                            alt="Sousou no Frieren">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="name">Sousou no Frieren</div>
                    <div class="info-box" style="z-index: 1;">
                        <div class="info-title">Sousou no Frieren</div>

                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <div class="text-rating">89</div>
                            <div class="line-rating">
                                <div class="line-red" style="width: 89%;"></div>
                            </div>
                        </div>

                        <ul class="info-genres">

                            <li>Adventure</li>

                            <li>Drama</li>

                        </ul>

                        <div class="info-btns">
                            <a href='/watch/Sousou-no-Frieren-154587$1' class="info-watch">Watch</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="player">
            <h2>Currently Watching: The Kapil Sharma Show</h2>
            <video controls crossorigin playsinline
                poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                <source
                    src="https://cors-mikey.up.railway.app/https://ed.netmagcdn.com:2228/hls-playback/fb992efd85e2e3ef69fa2a00c4ab98e3dc61a0aff5a5932312d9b74d9ad4af0a4bed8dcabd0f8ae61fcf04775107fb05561614d395709a585ab94e0e38bf645db81b1ca5a098e417941d7a2761c405d4beba3589e5067d1eecd8d98f0728c09480b44d15028d194f4a6369053b3014a52d3256fb3b656584d0091a7b1358020ef5ff8f188a51a1a9bf3cda2e2cccc77e/master.m3u8"
                    type="application/x-mpegURL" size="720" lang="en">
                <track kind="subtitles" label="English" srclang="en"
                    src="https://ccb.megaresources.co/19/73/1973b6fe0bfe4a1c93b5e8fd9098e42f/eng-2.vtt" default>
            </video>
            <div class="imp-btns">
                <div class="dropdown">
                  <button onclick="toggleDropdown()" class="button">Select Source &nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                  <div class="dropdown-content" id="dropdownContent">
                      <button onclick="changeSource('SUB')"><i class="fas fa-closed-captioning"></i> SUB</button>
                      <hr>
                      <button onclick="changeSource('DUB')"><i class="fas fa-microphone"></i> DUB</button>
                  </div>
                </div>

                <!-- <button onclick="nextEpisode()" class="button">Share <i class="fas fa-share"></i></button> -->
                <button id="share">
                    <div class="text">
                        <i class="fal fa-share"></i>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M15 5.63 20.66 12 15 18.37V14h-1c-3.96 0-7.14 1-9.75 3.09 1.84-4.07 5.11-6.4 9.89-7.1l.86-.13V5.63M14 3v6C6.22 10.13 3.11 15.33 2 21c2.78-3.97 6.44-6 12-6v6l8-9-8-9z"></path></svg> -->
                      Share
                    </div>
                    <div class="icons">
                      <div class="icons__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                        </svg>
                      </div>
                      <div class="icons__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z" />
                        </svg>
                      </div>
                      <div class="icons__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-telegram" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
                        </svg>
                      </div>
                      <div class="icons__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <rect x="4" y="4" width="16" height="16" rx="4" />
                          <circle cx="12" cy="12" r="3" />
                          <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                        </svg>
                      </div>
                      <div class="icons__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-dribbble" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" />
                          <circle cx="12" cy="12" r="9" />
                          <path d="M9 3.6c5 6 7 10.5 7.5 16.2" />
                          <path d="M6.4 19c3.5 -3.5 6 -6.5 14.5 -6.4" />
                          <path d="M3.1 10.75c5 0 9.814 -.38 15.314 -5" />
                        </svg>
                      </div>
                    </div>
                  </button>
                  
                  
                <button onclick="nextEpisode()" class="button">Next Episode</button>
              </div>
            <div class="video-info">
                <div class="video-title">Sosou Bleach Kamesgti haka noodles</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <div class="text-rating">59</div>
                    <div class="line-rating">
                        <div class="line-red" style="width: 59%;"></div>
                    </div>
                </div>
                <div class="sypnosis">
                    <b>Synopsis:</b><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusamus eveniet veniam placeat,
                    quas esse ea minima nam pariatur eaque enim illo recusandae, sed itaque magni labore qui
                    necessitatibus debitis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nulla necessitatibus facilis,
                    nostrum facere atque neque repudiandae magnam et quidem ea officia est non libero doloribus possimus
                    eos adipisci cum quis voluptas. Non, harum expedita deserunt quod aperiam reiciendis perferendis
                    recusandae consequatur, velit laborum incidunt esse quia, ea fugiat explicabo unde necessitatibus
                    enim placeat. Iusto alias atque neque quasi reprehenderit, ratione dolorem architecto fugiat nostrum
                    voluptas aliquam sapiente magnam laudantium tempore consequuntur velit delectus repellendus eum quae
                    ipsa molestias possimus repellat non maxime? Odit cumque id repellendus quisquam perspiciatis unde
                    quos ratione! Odio error ea recusandae ratione pariatur voluptate assumenda?
                </div>
            </div>
        </div>
    </div>






    <footer>
        <div class="bg-opacity-75 footer">
            <div class="container px-5 py-1 mx-auto flex items-center sm:flex-row flex-col"><a
                    class="flex title-font font-medium items-center md:justify-start justify-center text-white"><img
                        src="/static/assets/logo.png" class="text-white" style="width: 80px;">
                    </img><span class="ml-3 text-xl">AniMaze</span></a>
                <p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">© 2023 AniMaze —<a
                        href="https://twitter.com/AniMaze" class="text-gray-400 ml-1" target="_blank"
                        rel="noopener noreferrer">@AniMaze</a></p><span
                    class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"><a
                        class="text-gray-400"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg></a><a class="ml-3 text-gray-400"><svg fill="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg></a><a class="ml-3 text-gray-400"><svg fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                            viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg></a><a class="ml-3 text-gray-400"><svg fill="currentColor" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5"
                            viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg></a></span>
            </div>
        </div>
    </footer>
    </div>


    <script src="/static/script.js"></script>
    <script src="https://cdn.rawgit.com/video-dev/hls.js/18bb552/dist/hls.min.js"></script>
    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const source = 'https://cors-mikey.up.railway.app/https://ed.netmagcdn.com:2228/hls-playback/fb992efd85e2e3ef69fa2a00c4ab98e3dc61a0aff5a5932312d9b74d9ad4af0a4bed8dcabd0f8ae61fcf04775107fb05561614d395709a585ab94e0e38bf645db81b1ca5a098e417941d7a2761c405d4beba3589e5067d1eecd8d98f0728c09480b44d15028d194f4a6369053b3014a52d3256fb3b656584d0091a7b1358020ef5ff8f188a51a1a9bf3cda2e2cccc77e/master.m3u8';
            const video = document.querySelector('video');
            const player = new Plyr(video, { captions: { active: true, update: true, language: 'en' } });

            if (!Hls.isSupported()) {
                video.src = source;
            } else {
                const hls = new Hls();
                hls.loadSource(source);
                hls.attachMedia(video);
                window.hls = hls;

                player.on('languagechange', () => {
                    setTimeout(() => hls.subtitleTrack = player.currentTrack, 50);
                });
            }

            window.player = player;

            video.addEventListener('touchstart', () => {
                if (video.paused) {
                    video.play();
                } else {
                    video.pause();
                }
            });

            // Add click events to seek forward or backward
            video.addEventListener('click', (e) => {
                const clickX = e.pageX - video.getBoundingClientRect().left;
                const videoWidth = video.clientWidth;

                if (clickX >= videoWidth / 2) {
                    // Click on the right side, seek forward
                    video.currentTime += 10;
                } else {
                    // Click on the left side, seek backward
                    video.currentTime -= 10;
                }
            });
        });
    </script>
    <script>
        function toggleDropdown() {
            var dropdownContent = document.getElementById("dropdownContent");
            dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
        }

        function changeSource(source) {
            // Replace the URL with your desired URL format
            var currentUrl = window.location.href;
            var newUrl = currentUrl.replace(/(source=)[^&]+/, '$1' + source);
            console.log(url)
            window.location.href = newUrl;
        }

        function nextEpisode() {
            // Add your logic for the "Next Episode" button here
            console.log("Go to next episode");
        }
    </script>
</body>

</html>